body{
  margin: 0;
  padding: 0;
  background: rgb(5,64,179);
  background: radial-gradient(circle, rgba(5,64,179,1) 34%, rgba(3,12,84,1) 100%);
}

:root{
  --primary-color : #1BA8C0; 
  --secondary-color : #0540b3 ;
  --third-color : #4FD0FF;

  --secondary-font: 'Orbitron';
  --primary-font: 'Poppins';
}

li{
  list-style: none;
}